<html>
    <head>
        <title>Login</title>
        <link rel="icon" type="image/png" href="/static/img/ico.png">
    </head>
    <body>
        <div><h1>Login Form</h1>
            <form>
                Username: <input name="username"></input>
                Password: <input name="password" type="password"></input>
                <button type="submit">Login</button>
            </form>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
        <script src="/static/js/login.js"></script>
    </body>
</html>